<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">YOU</h1>
                <img src="img/chibi.png" alt="" style="height: 500px; width: 100%">

                <div class="healthbar">
                    <div class="healthbar text-center"
                        style="background-color: red; margin: 0; color: white;" :style="{width:slayerHeal + '%'}">

                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTER</h1>
                <img src="img/monster.png" alt="" style="height: 500px; width: 100%">

                <div class="healthbar">
                    <div class="healthbar text-center"
                        style="background-color: red; margin: 0; color: white;" :style="{width: monsterHeal +'%'}">

                    </div>
                </div>
            </div>
        </section>
        <section class="row controls"  v-if="isNewgame == false">
            <div class="small-12 columns">
                <button id="start-game" v-on:click="startNewgame()">START NEW GAME</button>
            </div>
        </section>
        <section class="row controls" v-if="isNewgame">
            <div class="small-12 columns">
                <button id="attack" @click="attack()" >ATTACK</button>
                <button id="special-attack" :disabled="isspAttack || slayerHeal >= 40 " @click="spAttack()">SPECIAL ATTACK</button>
                <button id="heal" :disabled="isHealed" @click="heal()">HEAL</button>
                <button id="give-up"  @click="giveup()">GIVE UP</button>
            </div>
        </section>
        <section class="row log">
            <div class="small-12 columns">
                <ul>
                    <li>
                       {{resulMessage}}
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <!-- <script src="./js/app.js"></script> -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
              isNewgame: false,
              slayerHeal: 100,
              monsterHeal: 100,
              isHealed: false,
              isspAttack: false,
              resulMessage:''
              
            },
            methods: {
                attack(){
                   this.slayerAttackDame();
                   this.monterAttackDame();
                   if(this.slayerHeal <= 0){
                        this.slayerHeal = 0;
                        this.resulMessage = "Khanh guc nga";
                        this.isNewgame= false;
                   }
                   if(this.monsterHeal <= 0){
                        this.monsterHeal = 0;
                        this.resulMessage = "Ngot guc nga";
                        this.isNewgame= false;
                        return;
                   }

                    // this.slayerHeal = this.slayerHeal - 20;
                },
                slayerAttackDame(){
                    let slayerDame = Math.floor(Math.random() * 51); // dam khanh 10 dame
                    this.monsterHeal = this.monsterHeal - slayerDame;
                },
                monterAttackDame(){
                    let monterDame = Math.floor(Math.random() * 71); // dam ngat 10 dame
                    this.slayerHeal = this.slayerHeal - monterDame;

            },
            startNewgame(){
                this.isNewgame = true;
                this.slayerHeal = 100;
                this.monsterHeal = 100;
                this.isHealed = false;
                this.isspAttack = false;
                this.resulMessage = "";
            },
            giveup(){

                if(confirm("Ban bo cuoc?")){
                    this.slayerHeal = 0;
                    this.resulMessage = "Thua"
                    this.isNewgame = false;
                    return;
                }
            },
            heal(){
                this.isHealed = true;
                this.monsterHeal += 50;
                if(this.monsterHeal > 100) this.monsterHeal = 100;
                this.slayerHeal += 50;
                if(this.slayerHeal > 100) this.slayerHeal = 100;
            },
            spAttack(){
                this.isspAttack = true;
                this.monsterHeal = 0;
                this.resulMessage = "Thua de khanh beo";
                this.isNewgame = false;
            }
        }
    })
    </script>
</body>

</html>