*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#nen{
    margin: auto;
    width: 1300px;
    height: 800px;
   
    margin: 200px 300px ;
    display: flex;
}
.left{
    outline:  2px rgb(82, 252, 238) ;
    /* border: 2px none silver; */
    padding: 30px 25px 30px 25px;
    margin-right: 25px;
    width: 33%;
    height: 100%;
    background-color: aqua;
}
.left header{
    margin-top: 60%;
    width: 100%;
    height: 100px;
}
.left h3{
    font-size: 45px;
    height: 50%;
}
.left span{
    font-size: 40px;
}
.button button{
    margin-top: 250px;
    height: 60px;
    width: 100%;
    border-radius: 9px;
    border: 1px none rgb(82, 226, 202);
    outline: navajowhite;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

.sign-up {
    margin-top: 40px;
    text-decoration: none;
    width: 100%;
    height: 30px;
    font-size: 17px;
}





/* -------------------------------------------------- */
.center{
    padding: 30px 25px 30px 25px;
    width: 33%;
    height: 100%;
    background-color: black;
    outline:  2px silver ;
}
.head{
    width: 100%;
    height: 20px;
}
.head i{
    color: white;
    padding-left: 95%;
}
.thongtin{
    width: 100%;
    height: 80px;
    display: flex;
}
.thongtin img{
    width: 95%;
    height: 90%;
    border-radius: 40px;
    border: 4px solid aqua;
}
.ten{
    margin: 10px 15px ;
    height: 100%;
}
.ten h6{
    font-size: 25px;
    color: white;
}
.btn{
    margin-top: 250px;
}
.btn button{
    width: 100%;
    height: 65px;
    background-color: white;
    font-size: 17px;
    font-weight: bold;
    border: 1px none silver;
    order-radius: 7px;
    
}
.btn1{
    display: flexbox;

}
.btn1 button{
    width: 100%;
    height: 65px;
    border-radius: 7px;
    border: 1px none silver;
    outline: none;
    cursor: pointer;
}
.tich{
    width: 30px;
    height: 30px; 
    margin-left: 94%;
    margin-top: -78px;
    border-radius: 15px;
    margin-block-end: 38px;
}
.btn2{
    display: flexbox;

}
.btn2 button{
    width: 100%;
    height: 65px;
    border-radius: 7px;
    border: 1px none silver;
    outline: none;
    cursor: pointer;
}
.tich2{
    width: 30px;
    height: 30px; 
    margin-left: 94%;
    margin-top: -78px;
    border-radius: 15px;
}
.btn3{
    width: 100%;
    height: 65px;
    border-radius: 7px;
    border: 1px none silver;
    outline: none;
    
}
.end-center button{
    margin-top: 120px;
    height: 60px;
    border-radius: 8px;
    font-size: 17px;
    background-color: aqua;
    cursor: pointer;
}




/* ------------------------------------------------------ */
.right{
    padding: 30px 25px 30px 25px;
    margin-left: 25px;
    width: 34%;
    height: 100%;
    background-color: black;
    outline:  2px silver ;
}
.ptr{
   width: 100%;
   height: 350px;
   background-color: aqua;
}
.ptr img{
    width: 100%;
    height: 100%;
}
.text-right{
    margin-top: 35px;
    text-align: center;
    color: white;
    font-size: 17px;
}
.nut{
    display: flex;
    width: 100%;
    height: 90px;
    margin-top: 100px;
}
