*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    border: 1px none whitesmoke;
    margin: auto;
    border-radius: 10px;
    width: 1500px;
    height: 800px;
    background:#efefef ;
    animation-name: main;
    animation-duration: 2.999s;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes main {
    from{
        background: #363636;
      
    } 
    to{
        background:#efefef;
    }
}

.room{
    padding: 20px 15px 20px 15px;
   border: 1px none rgb(155, 152, 152);
   /* border-radius: 10px; */
    margin: auto;
    width: 500px;
    height: 600px;
    background:#efefef;
    animation-name: room;
    animation-duration: 2.999s;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes room{
    from{
        background: #4a4a4a;
    }
    to{
        
        background: #ffffff;
    }
}
.head{
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
.gach{
    position: sticky;
    width: 100%;
    height: 2px;
    background: #79777783;
}
.input{
    width: 30px;
    height: 18px;
   
}
label.font{
    display: inline-flex;
    line-height: 20px;
    font-size: 20px;
    font-weight: 500;
    
}
.container{
    min-width: 100px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
   
    /* margin: 10px 0 10px 0; */
}
.container > div {
    /* background-color: white; */
    margin: 10px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    text-decoration: none;
  }
button{
  margin-top: 10px;
  width: 45px;
  height: 45px;
  border-radius: 5px !important;
  border: 1px none whitesmoke;
  font-size: larger;
  
}
.container a {
    text-decoration: none;
    color: #8d8989;
}
button:hover{
    background: blue;
}
.time{
    padding-top: 70px;
    font-size:xx-large;
    font-weight: 100px;
    font-size: 30px;
    border: 1px none whitesmoke;
}
.chon{
    padding-right: 83px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  
}
input.chon-item{
    font-family:  'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 5px;
    min-width: 60%;
    margin: 0 3px 0 3px;
    height: 50px;
    border: 1px none rgb(202, 201, 201);
}
.acc, a{
    text-decoration: none;
    margin-top: 40px;
    font-size: 20px;
    line-height: 36px;
}
.end{
   margin-top: 30px;
   min-height: 100px;
}

